.header {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.header__container {
   border-bottom: 1px solid #545454;
   padding-bottom: 15px;
  }

  .header__logo {

  }

  .header__title {

  }

  .header__subtitle {

  }

  .header__image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;

  }